
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_ShopeeAdmin.cshtml";
}

<div class="content">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Group</strong>
                    </div>


                    <div class="card-body">
                        <button style="width:200px;color:white;background-color:antiquewhite;margin-bottom:8px;" type="button" class="btn btn-success"><a href="/Admin/Group/Add">Thêm Nhóm</a></button>
                        <table id="group" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 10px ">STT</th>
                                    <th style="width:640px">Tên</th>
                                    <th>Trạng thái
                                    <th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div><!-- .animated -->
</div>
@section Js{
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="/Areas/Admin/assets/js/main.js"></script>


    <script src="/Areas/Admin/assets/js/lib/data-table/datatables.min.js"></script>
    <script src="/Areas/Admin/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="/Areas/Admin/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="/Areas/Admin/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
    <script src="/Areas/Admin/assets/js/lib/data-table/jszip.min.js"></script>
    <script src="/Areas/Admin/assets/js/lib/data-table/vfs_fonts.js"></script>
    <script src="/Areas/Admin/assets/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="/Areas/Admin/assets/js/lib/data-table/buttons.print.min.js"></script>
    <script src="/Areas/Admin/assets/js/lib/data-table/buttons.colVis.min.js"></script>
    <script src="/Areas/Admin/assets/js/init/datatables-init.js"></script>

    <script>
        $(function () {


            function GetMember() {
                $.get("/Admin/Group/GetGroup",
                    {},
                    function (data) {
                        for (let i = 0; i < data.length; i++) {
                            let structureRow = '<tr>' +
                                '<td>' + (i + 1) + '</td>' +
                                '<td>' + data[i].Name + '</td>' +
                                '<td>' +
                                '<button style="color:white;background-color:antiquewhite;border: 1px solid green;margin-right:8px;" type="button" class="btn"><a href="/Admin/Group/Edit?Id=' + data[i].Id + '">Edit</a></button>' +
                                '<button style="color:white;" type="button" class="btn btn-warning delete-group" data-id="' + data[i].Id + '">Delete</button>' +
                                '<button style="color:white;background-color:antiquewhite;border: 1px solid green;margin-left:8px;" type="button" class="btn"><a href="/Admin/Group/Credential?Id=' + data[i].Id + '">Permission</a></button>' +
                                '</td>' +
                                '</tr>';
                            $("#group tbody").append(structureRow);
                        }
                    });
            }
            GetMember();
            $(document).on("click", ".delete-group", function (e) {
                let Id = $(this).data("id");
                if (confirm("Bạn muốn xóa??")) {
                    window.location = "/Admin/Group/Delete?Id=" + Id;
                }
            })
        });
    </script>
}

